#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj

*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.428.pas
*.dcu
*.sbr
*.dcu
copy*
*.~*
*.dproj
*/__recovery/
../*.res
../target/*
